@import "tailwindcss";

html {
	scrollbar-gutter: stable;
}

@font-face {
	font-family: "Restora";
	src: url("/fonts/restora.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Neue Montreal";
	src: url("/fonts/neue-montreal.woff2") format("woff2"),
		url("/fonts/neue-montreal.otf") format("opentype");
	font-weight: 300 500;
	font-style: normal;
	font-display: swap;
}
